body {
    font-family: Roboto;
}
.part1{
    background-color: #1F2937;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 180px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
nav a {
    display: flex;
    
}